#pc-wrap {
    .product-detail {
        display: flex;
       flex-direction: column;
        .link-box {
            width: 100%;
            height: 150px;
            background-image: url("/img/property/furni2.jpg");
            background-color: rgba(24, 26, 32, 0.7);
            background-blend-mode: darken;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            .link {
                color: #fff;
                margin-top: 14px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                font-weight: 500;
            }
            .detail-title {
                color: #fff;
                margin-top: 14px;
                font-size: 24px;
                font-weight: 500;
            }
          }
        .container {
            display: flex;
            flex-direction: row;
            margin-left: 30px;
            gap: 25px;
            .images {
                width: 100%;
                height: 800px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .main-image {
                    width: 650px;
                    height: 600px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .sub-images {   
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    flex-direction: row;
                    gap: 10px;
                    .sub-img-box {
                        width: 120px;
                        height: 120px;
                        cursor: pointer;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 12px;
                        } &:hover {
                            transform: scale(1.05);
                            transition: all 0.2s;
                        }
                    }
                }
            }
            .detail {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                line-height: 2rem;
                gap:25px ;
                .info-box {
                    .name {
                        font-size: 16px ;
                        font-weight: 550;
                        color: rgba(24, 26, 32, 0.7);
                        font-family: Georgia, 'Times New Roman', Times, serif;
                    }
                    .stars {
                        padding-top: 10px;
                        font-size: 16px ;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                    }
                    h1 {
                        font-size: 32px;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    .price {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 18px;
                        font-weight: 550;
                    }
                    .desc {
                        font-size: 14px;
                        font-weight: 600;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }
                .option {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    text-align: center;
                    gap: 25px;
                    .size {
                        font-size: 15px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 550;
                        padding-left: 8px;
                    }
                    .form-control {
                        height: 2px;
                        width: 170px;
                        bottom: 25px;
                        .selector {
                            font-size: 14px;
                        }
                    }
                .btn-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding-top: 15px;
                    gap: 30px;
                    .counter {
                        background-color: rgb(194, 191, 191, 0.4);
                        width: 100px;
                        height: 48px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        border-radius: 10px;
                        button {
                            font-size: 15px;
                            padding: 10px;
                            border: none;
                            background-color: rgb(194, 191, 191, 0.01);
                            & :hover {
                                background-color: rgb(0, 0, 0, 0.8);
                                transition: all ease-out;
                            }
                        }
                    }
                    .add-btn {
                        padding: 10px 50px 10px 50px;
                        border: solid 1px black;
                        background-color: black;
                        color: #fff;
                        font-size: 15px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-weight: 400;
                        .basket {
                            margin-left: 4px;
                            color: #fff ;
                        }
                    }
                    .icon-like {
                        background-color: black;
                        color: #fff;
                        font-size: 35px;
                        width: 60px;
                        height: 40px;
                        border-radius: 5px;
                        align-content: center;
                    }
                }
                }
                .option-sec {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    text-align: center;
                    gap: 25px;
                    .color {
                        font-size: 15px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 550;
                        padding-left: 8px;
                    }
                    .form-control {
                        height: 2px;
                        width: 170px;
                        bottom: 25px;
                        .selector {
                            font-size: 14px;
                        }
                    }
                .btn-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding-top: 15px;
                    gap: 30px;
                    .counter {
                        background-color: rgb(194, 191, 191, 0.4);
                        width: 100px;
                        height: 48px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        border-radius: 10px;
                        button {
                            font-size: 15px;
                            padding: 10px;
                            border: none;
                            background-color: rgb(194, 191, 191, 0.01);
                        }
                    }
                    .add-btn {
                        padding: 10px 50px 10px 50px;
                        border: solid 1px black;
                        background-color: black;
                        color: #fff;
                        font-size: 15px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-weight: 400;
                        .basket {
                            margin-left: 4px;
                            color: #fff ;
                        }
                    }
                    .icon-like {
                        background-color: black;
                        color: #fff;
                        font-size: 35px;
                        width: 60px;
                        height: 40px;
                        border-radius: 5px;
                        align-content: center;
                    }
                }
                }
                .shipping-box {
                    display: flex;
                    flex-direction: column;
                    p {
                        font-size: 12px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-weight: 600;
                        color: rgb(0, 0, 0, 0.7);
                        padding-top: 2px;
                        .shipping {
                            font-size: 22px;
                            padding-top: 5px;
                        }
                    }
                .info {
                    display: inline-block;
                    .secure {
                        font-size: 16px;
                    }
                }
                }
                .cart-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100px;
                    background-color: rgb(194, 191, 191, 0.4);
                    p {
                        font-size: 15px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-weight: 600;
                    }
                    .cards {
                        display: flex;
                        flex-direction: row;
                        gap: 3px;
                        img {
                            width: 80px;
                            height: 50px;
                        }
                    }
                }
            }
            
        }
        .info-tab {
            width: 100%;
            padding-top: 100px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .info-nav-frame {
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-height: 285px;
                margin-bottom: 25px;
                background:#f8f8ff;
               .table-list {
                .list {
                    font-size: 18px;
                }
               }
            }
       }
       .related {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 600px;
        .text {
            font-size: 32px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 500;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        .related-box {
            flex-direction: row;
            justify-content: space-around;
            align-items: center ;
            width: 100%;
            height: 600px;
            margin-top: 50px;
            .card-box {
                width: 280px;
                .card-img {
                  height: 280px;
                  width: 100%;
                  object-fit: cover;
                }
                .card-content {
                  background-color: rgb(0, 0, 0, 00.1);
                  .product-title {
                    font-size: 22px;
                    max-width: 180px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 500;
                    transition: all ease-in 0.2s;
                  }
                  .text-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    .rate {
                      color: #ed7606;
                    }
                  }
                  .desc {
                    font-size: small;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: 500;
                  }
                }
                .icon-box {
                  height: 50px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .price {
                    margin-left: 18px;
                    font-size: 14px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 600;
                    color: #0a0a0a;
                  }
                  
                  .icon-btn {
                    height: 20px;
                    margin-right: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    span {
                      font-size: 15px;
                      font-family: Arial, Helvetica, sans-serif;
                      padding-left: 2px;
                    }
                  }
                }
              }
            }
       }
    }
    .review {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .right-box {
            width: 750px;
            height: auto;
            display: flex;
            flex-direction: column;
            .text {
                font-size: 16px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 550;
                padding-bottom: 15px;
            }
           .review-container {
                display: flex;
                flex-direction: column;
                padding-bottom: 50px;
            .review-box {
                width: 700px;
                height: auto;
                border: solid 1px rgb(11, 11, 11, 0.09);
                display: flex;
                flex-direction: row;
                gap: 10px;
                .avatar {
                    margin: 5px;
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                }
                .review-info {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    line-height: 1.2rem;
                    .review-text {
                        .date-box {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .memberName {
                                font-size: 14px;
                                font-family: Verdana, Geneva, Tahoma, sans-serif;
                                font-weight: 550;
                            }
                            .date {
                                font-size: 13px;
                                font-weight: 500;
                                margin-left: 5px;
                                
                            }
                        }
                        .comment {
                            padding-top: 25px;
                            font-size: 13px;
                            font-weight: 500;
                            color: rgb(0, 0, 0, 0.7);
                        }
                    }
                }
            }
           }
        }
        .left-box {
            width: 500px;
            height: auto;
            padding-bottom: 50px;
            
            .text {
                font-size:16px ;
                font-weight: 600;
                padding-bottom: 10px;
            }
            .form-box {
                width: 475px;
                height: 400px;
                background-color: rgb(0, 0, 0, 0.03);
                border-radius: 5px;
                padding: 25px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                .input {
                    height: 150px;
                    font-size: 13px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: 550;
                    color: rgb(0, 0, 0, 0.5);
                    border-color: rgb(0, 0, 0, 0.06);
                    padding: 5px;
                } 
                p {
                    font-size:16px ;
                    font-weight: 500;
                }
                .submit-btn {
                    width: 100px;
                    padding: 15px 5px 15px 5px;
                    background-color: rgb(0, 0, 0);
                    color: #fff;
                    font-size: 14px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: 550;
                    border-radius: 8px;
                    margin-top: 100px;
                    &:hover {
                        background-color: rgb(0, 0, 0, 0.8);
                        transition: all ease-out;
                    }
                } 
                .rating {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-size:14px ;
                    font-weight: 600;
                    padding-bottom: 10px;
                }
            }
        }
    }
}