#pc-wrap {
	#property-list-page {
		// padding-bottom: 40px;
		background: #f6f6f6;
		.container {
			.product-link {
				width: 100%;
				height: 150px;
				background-image: url("/img/property/furni2.jpg");
				background-color: rgba(24, 26, 32, 0.7);
				background-blend-mode: darken;
				display: flex;
				justify-content: center;
				align-items: center;
				.link-box {
					color: #fff;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					.link {
						margin-top: 14px ;
						font-family: Verdana, Geneva, Tahoma, sans-serif;
						font-size: 24px;
						font-weight: 500;
					}
				}
				h1 {
					color: #fff;
					margin-top: 14px;
					font-size: 24px;
					font-weight: 500;
				}
			}
			.right {
				position: absolute;
				right: 0;
				top: 16%;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				z-index: 2;
				button {
					margin-left: 10px;
					color: #181a20;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: bold;
					line-height: 26px;
					&:hover {
						background: none;
					}
				}
				.total-result {
					padding-top: 10px;
					padding-right:500px;
					font-weight: 600;
				}
			}
			.property-page {
				position: relative;
				width: 100%;
				flex-direction: row;
				gap: 25px;
				padding-top: 96px;
				.filter-config {
					width: 339px;
					height: auto;
					.filter-main {
						width: 100%;
						padding: 80px 24px;
						border-radius: 12px;
						background: #fff;
						box-shadow: 0 1px 4px 0 rgba(24, 26, 32, 0.07);
						.find-your-home {
							position: relative;
							width: 100%;
							gap: 10px;
							.property-location {
								gap: 10px;
								height: 115px;
								overflow: hidden;
								transition: 1s;
								&:hover {
									height: 253px;
								}
							}
							.title-main {
								width: 100%;
								height: 25px;
								color: #181a20;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
							.title {
								width: auto;
								height: auto;
								color: #181a20;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
							.input-box {
								position: relative;
								width: 100%;
								flex-direction: row;
								align-items: center;
								svg {
									cursor: pointer;
								}
								.search-input {
									width: 100%;
									height: 53px;
									border-radius: 8px;
									border: 1px solid #ddd;
									background: #fff;
									outline: none;
									padding-left: 43px;
									color: #717171;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}
								img {
									position: absolute;
									width: 18px;
									height: 17px;
									top: 18px;
									left: 15px;
								}
								.property-checkbox {
									width: 16px;
									height: 15px;
									border-radius: 12px;
									margin-right: 10px;
									svg {
										width: 19px;
									}
								}
							}
							.city-select {
								width: 100%;
								height: 49px;
								border-radius: 8px;
								border: 1px solid #ddd;
								background: #fff;
								outline: none;
								padding-left: 15px;
								appearance: none;
								cursor: pointer;
								box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
								color: #717171;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: 26px;
							}
							.divider {
								position: absolute;
								height: 48px;
								border-left: 1px solid #ddd;
								right: 39px;
								top: 31px;
							}
							.arrow-down {
								position: absolute;
								width: 15px;
								height: 8px;
								color: #ddd;
								right: 13px;
								top: 52px;
							}
							.property-type {
								color: #181a20;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: 19px;
							}
							.button-group {
								width: 100%;
								height: 43.998px;
								flex-direction: row;
								button {
									width: 100%;
									color: #181a20;
									text-align: center;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}
							.square-year-input {
								width: 100%;
								gap: 10px;
								flex-direction: row;
								align-items: center;
								.central-divider {
									width: 22px;
									border: 1px solid black;
								}
								input {
									width: 100%;
									height: 49px;
									border-radius: 8px;
									border: 1px solid #ddd;
									background: #fff;
									outline: none;
									padding-left: 15px;
								}
								label {
									line-height: 13px;
								}
								input::placeholder {
									color: #717171;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}
							}
						}
					}
				}
				.main-config {
					width: 936px;
					align-items: center;
					gap: 190px;
					.list-config {
						display: flex;
						width: 100%;
						height: auto;
						flex-direction: row;
						flex-wrap: wrap;
						gap: 35px;
						.popular-card-box {
							position: relative;
							width: 200px;
							height: 300px;
							display: flex;
							flex-direction: column;
							margin-top: 100px;
							.card-img {
							  position: relative;
						  
							  img {
								width: 100%;
								height: 240px;
								border-radius: 12px 12px 0px 0px;
								cursor: pointer;
							  }
						  
							  .eye-icon {
								position: absolute;
								display: flex;
								flex-direction: column;
								gap: 5px;
								bottom: 140px;
								right: 10px;
								opacity: 0;
								transition: opacity 0.3s ease-in-out;
								.icon-btn {
								  width: 35px;
								  height: 35px;
								  background-color: #f6f6f6;
								 }
							  }
						  
							  &:hover {
								.eye-icon {
								  opacity: 1;
								}
							  }
							}
						  
							.info {	
							  padding: 20px;
							  display: flex;
							  flex-direction: column;
							  gap: 5px;
							  box-sizing: border-box;
							  border-radius: 0px 0px 12px 12px;
							  box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
						  
							  .title {
								color: #181a20;
								text-overflow: ellipsis;
								white-space: nowrap;
								font-size: 15px;
								font-weight: 600;
								text-transform: capitalize;
								cursor: pointer;
							  }
						  
							  .price {
								margin-top: 5px;
								color: #0a0a0a;
								font-family: Verdana, Geneva, Tahoma, sans-serif;
								font-size: 15px;
								font-weight: 800;
								white-space: nowrap;
							  }
						  
							  .shop-btn {
								padding: 12px 18px;
								top: 5px;
								border-radius: 6px;
								background: #fff;
								color: #181a20;
								font-size: 15px;
								font-weight: 600;
								cursor: pointer;
								opacity: 0;
								transition: opacity 0.3s ease-in-out;
						  
								&:hover {
								  color: #fff;
								  background-color: #000000;
								  transition: 0.2s ease-in;
								}
							  }
							}
						  
							&:hover {
							  .shop-btn {
								opacity: 1;
							  }
							}
						  }
					}
					.pagination-config {
						width: 442px;
						height: 86px;
						align-items: center;
						gap: 20px;
						.pagination-box {
							width: 100%;
							align-items: center;
						}
						.total-result {
							p {
								color: #181a20;
								text-align: center;
								font-family: $font;
								font-size: 24px;
								font-style: normal;
								font-weight: 275;
								line-height: 26px;
							}
						}
					}
				}
			}
		}
	}
}