@import "../variables.scss";
@import "../pc/homepage/homepage.scss";
@import "../pc/property/property.scss";
@import "../pc/property/detail.scss";
@import "../pc/account/join.scss";
@import "../pc/cart/cartpage.scss";
@import "../pc/checkout/proceed.scss";

#pc-wrap {
    #top {
       .navbar {
        .navbar-container {
            width: 100%;
            height: 180px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            align-items: center;
            z-index: 99;
            border-bottom: 1px solid rgba(255, 255 , 255, 0.07);
           }
           .search-container {
            margin: 20px 10px 10px 20px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            .logo{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 50px;
                    cursor: pointer;
                }
                .title {
                    font-size: 35px;
                    font-family: Tahoma, sans-serif;
                    font-weight: 700;
                    margin-left: 4px; 
                }
            }
            .search {
                input {
                    padding:13px 130px 13px 130px;
                    border-radius: 5px;
                    border: 2px solid lightgrey;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
                    transition: box-shadow 0.3s ease, border-color 0.3s ease;
                    outline: none;
                }
                input::placeholder {
                    font-size: 15px;
                    color: #a9a9a9;
                    opacity: 1; 
                }
                input:focus {
                    border-color: #3498db;
                    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
                  }
                  
                .search-btn {
                    font-size: 15px;
                    font-family:Verdana, Geneva, Tahoma, sans-serif ;
                    font-weight: bold;
                    color: white;
                    background-color: #000;
                    padding: 10px 18px 10px 18px;
                    border-radius: 0px 8px 8px 0px;
                    cursor: pointer;
                }
            }
            .user-box{
                width: 270px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                .join-box {
                    height: 40px;
                    width: 150px;
                    display: flex;
                    align-items:center ;
                    justify-content: center;
                    border-radius: 60px;
                    border: 1px solid #000;
                    cursor: pointer;
                    svg {
                        color: #000;
                        margin-right: 10px;
                    }
                    span {
                        font-family: $font;
                        font-size:14px ;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        color: #000;
                    }
                    &:hover {
                        background-color: rgba(245, 15, 15, 0.09);
                        transition: all ease-in 5ms;
                    }
                }
                .login-user {
                    img{
                        width: 42px;
                        height: 42px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
            .basket-box{
                margin-right: 10px;
                img{
                    width: 30px;
                    cursor: pointer;
                }
               
            }
           
           }
           .navbar-bottom {
            margin-top: 30px;
            border-top: 1px solid rgb(12, 11, 11, 0.09);
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .selector {
                padding: 10px 20px 0px 20px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                .label {
                    color: #555;
                    font-weight: bold;
                  }
                  .select-box {
                    background-color: #000;
                    border: 1px solid #000;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                  }
                  .menu-item-text {
                    font-size: 16px;
                    color: #333;
                    font-weight: 800;
                  }
                  .custom-select:focus {
                    outline: none;
                  }
              }
              .router-box {
                width: 500px;
                margin-top: 15px;
                margin-right: 200px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                div {
                    font-size: 16px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: 500;
                    color: #000;
                }
                div:hover {
                    color: rgba(0, 0, 0, 0.7);
                }
              }
           }
           .custom-drawer {
            .MuiDrawer-paper {
                width: 600px;
                background-color: #f8f9fa;
                padding: 20px;
                border-radius: 10px 0 0 10px;
                box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
              }
           }
       }
    }
		
    .header-main {
        .container{
            .slider-container{
                width: 100%;
                height: 550px;
                transition: transform 1s ease-in-out;
                .img-slider-img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    display: block;
                    flex-shrink: 0;
                    flex-grow: 0;
                    animation: slideIn 3s ease-in-out ;
                    // animation-delay: 3s;
                  }
                  .img-slider-btn {
                    all: unset;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    padding: 5px;
                    cursor: pointer;
                    transition: background-color 100ms ease-in-out;
                  }
                  .img-slider-btn:hover,
                 .img-slider-btn:focus-visible {
                 background-color: rgba(0, 0, 0, 0.2);
                 }
                 .img-slider-btn > * {
                    stroke: white;
                    fill: black;
                    width: 2rem;
                    height: 3rem;
                  }
                  @keyframes squish {
                    50% {
                      scale: 1.4 0.6;
                    }
                  }
                  
                  .image-text {
                    opacity: 0;
                    transition: opacity 1s ease-in-out ; 
                    font-size: 18px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    padding-left: 12px;
                    color: rgba(255, 255 , 255, 0.7);
                  }
                  
                  .image-text.slide-in {
                    animation: slideIn 1s ease-in-out  forwards; 
                    opacity: 1;
                  }
                  
                  .img-slider-dot-btn {
                    all: unset;
                    display: block;
                    cursor: pointer;
                    width: 1rem;
                    height: 1rem;
                    transition: scale 100ms ease-in-out;
                  }
                  .img-slider-dot-btn:hover,
                  .img-slider-dot-btn:focus-visible {
                     scale: 1.2;
                  }

                  .img-slider-dot-btn > * {
                    stroke:rgb(245, 166, 18) ;
                    fill: rgb(245, 166, 18);
                    height: 100%;
                    width: 100%;
                  }
                  .img-slider-dot-btn:focus-visible,
                  .img-slider-btn:focus-visible {
                    outline: auto;
                  }
                  .skip-link {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    margin: -1px;
                    overflow: hidden;
                    border: 0;
                    clip: rect(0, 0, 0, 0);
                  }

                  .skip-link:focus-visible {
                    top: 0;
                    left: 0;
                    border: 1px solid black;
                    background-color: white;
                    padding: 0.5rem;
                    width: auto;
                    height: auto;
                    margin: 0;
                    clip: unset;
                    text-decoration: none;
                    color: black;
                    z-index: 100;
                  }
                  .img-slider-img {
                    transition: translate 2s ease-in-out;
                  }
                
                  .img-slider-btn:hover > *,
                  .img-slider-btn:focus-visible > * {
                    animation: squish 200ms ease-in-out;
                  }
            }
        }
    }
    #footer {
        position: relative;
        padding: 60px 0px 18px 0px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        background: #181a20;
        .footer-container {
            width: 1300px;
            height: auto;
            margin: 0 auto;
            .main {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .left {
                    height: 360px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .logo{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        img{
                            width: 50px;
                            cursor: pointer;
                        }
                        .title {
                            color: #bebdbd;
                            font-size: 35px;
                            font-family: Tahoma, sans-serif;
                            font-weight: 700;
                            margin-left: 4px; 
                        }
                    }
                    .footer-box {
                        display: flex;
                        flex-direction: column;
                        span {
                            color: #bebdbd;
                            font-family: $font;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            text-transform: capitalize;
                        } 
                        p {
                            color: #fff;
                            font-family: $font;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            text-transform: capitalize;
                        }
                        .media-box {
                            margin-top: 12px;
                            color: #0ca5f1;
                            svg {
                                font-size: 32px;
                                margin-right: 22px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                .top {
                    display: flex;
                     flex-direction: column;
                     strong {
                        color: #fff;
                        font-family: $font;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        text-transform: capitalize;
                     }
                     div {
                        padding: 20px 30px;
                        margin-top: 20px;
                        width: 667px;
                        height: 70px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        box-sizing: border-box;
                        border-radius: 12px;
                        background: #212329;
                     }
                     input {
                        margin-right: 10px;
                        width: 85%;
                        border: none;
                        outline: none;
                        color: #fff;
                        font-family: $font;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 26px;
                        background: none;
                     }
                     span {
                        color: #fff;
                        font-family: $font;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        cursor: pointer;
                     }
                }
                .bottom {
                    margin-top: 60px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    div {
                        display: flex;
                        flex-direction: column;
                        strong {
                            margin-bottom: 3px;
                            color: #fff;
                            font-family: $font;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            text-transform: capitalize;
                        }
                        span {
                            margin-top: 25px;
                            color: #bebdbd;
                            font-family: $font;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            cursor: pointer;
                            &:hover {
                                color: #ffffff;
                                text-decoration-line: underline;
                            }
                        }
                    }
                    
                }  
            }
            .second {
                margin-top: 60px;
                height: 45px;
                border-top: 1px solid #212329;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                span {
                  color: #bebdbd;
                  font-family: $font;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
              }
        } 
    }
    
}